---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shlink
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          secret.reloader.stakater.com/reload: shlink-secret
        containers:
          api:
            image:
              repository: ghcr.io/shlinkio/shlink
              tag: 5.0.0@sha256:5bbedb6913b951f23428a61b581e7a22e33bdda0446455dfb4a598e57f15ff73
            env:
              USER_ID: "2000"
              SHLINK_SERVER_NAME: "AstraTeam"
              DEFAULT_DOMAIN: &api-host "ln.astrateam.net"
              DISABLE_TRACKING_FROM: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
              ENABLE_PERIODIC_VISIT_LOCATE: "true"
              IS_HTTPS_ENABLED: "true"
              PORT: &api-port 8081
              TIMEZONE: "Europe/Moscow"
            envFrom:
              - secretRef:
                  name: shlink-secret
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              fsGroup: 2000
              fsGroupChangePolicy: OnRootMismatch
          web:
            image:
              repository: ghcr.io/shlinkio/shlink-web-client
              tag: 4.5.1@sha256:0e695130f19307dd89c5a2b9b3486106b2445319da88b3af489af162a8f05ee4
            env:
              UID: "2000"
              SHLINK_SERVER_URL: "https://ln.astrateam.net"
            envFrom:
              - secretRef:
                  name: shlink-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }

    service:
      main:
        controller: main
        ports:
          api:
            port: *api-port
          http:
            port: &web-port 8080
            primary: true

    route:
      external:
        annotations:
        hostnames: [*api-host]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *api-port
      internal:
        hostnames: ["shlink.astrateam.net"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *web-port

    persistence:
      data:
        enabled: true
        existingClaim: shlink
        advancedMounts:
          main:
            api:
              - path: /etc/shlink/data
      log:
        type: emptyDir
        globalMounts:
          - path: /etc/shlink/data/log
