machine:
  type: controlplane
  network:
    hostname: k8s-01
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:87:77:55
        addresses:
          - 10.1.130.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.1.130.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.1.130.10
      - deviceSelector:
          hardwareAddr: bc:24:11:08:5b:09
        addresses:
          - 10.1.115.21/24
        mtu: 9000
        dhcp: false
  # disks:
  #   - device: /dev/disk/by-id/nvme-Samsung_SSD_980_500GB_S78GNL0X981951V
  #     partitions:
  #       - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/0befeb10b160245164e9416f25ce3752bf4725d37c9e7ceb153aade164884579:{{ ENV.TALOS_VERSION }}
